.house__container {
  max-width: 1240px;
  width: 90%;
}
.house__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}
.house__tagrow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.house__tag {
  margin-right: 10px;
}

.house__rightpannel,
.house__leftpannel {
  display: flex;
  flex-direction: column;
}
.house__leftpannel {
  gap: 5px;
}
.house__rightpannel {
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.house__row {
  display: flex;
  flex-direction: column;
  gap: 0px;
  max-width: 1024px;
  min-width: 100%;
}

.house__row > * {
  margin-right: 10px;
}

.house__row > *:last-child {
  margin-right: 0;
}
.house__title,
.house__location {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #ff6060;
}
.house__title {
  font-size: 18px;
}
.house__location {
  font-size: 14px;
}

/* mobile first */
@media (min-width: 1024px) {
  .house__row {
    flex-direction: row;
    gap: 60px;
  }
  .house__container {
    width: 100%;
  }
  .house__leftpannel {
    gap: 30px;
  }
  .house__rightpannel {
    flex-direction: column;
    align-items: flex-start;
  }
  .house__wrapper {
    flex-direction: row;
  }
  .house__tagrow {
    flex-wrap: nowrap;
  }
  .house__title {
    font-size: 36px;
  }
  .house__location {
    font-size: 18px;
  }
}
