.house__container {
  max-width: 1240px;
  width: 100%;
}
.house__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.house__tagrow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.house__tag {
  margin-right: 10px;
}

.house__rightpannel,
.house__leftpannel {
  display: flex;
  flex-direction: column;
}
.house__leftpannel {
  gap: 30px;
}

.house__row {
  display: flex;
  gap: 60px;
}

.house__row > * {
  margin-right: 10px;
}

.house__row > *:last-child {
  margin-right: 0;
}
.house__title,
.house__location {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #ff6060;
}
.house__title {
  font-size: 36px;
}
.house__location {
  font-size: 18px;
}
