.location__card {
  flex: 0 1 100%;
  max-width: 365px;
  height: 340px;
  background: #ff6060;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  margin-top: 60px;
}
.location__card img {
  height: 255px;
  width: 100%;
  object-fit: cover;
}
.location__card__title {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20pxs;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: 26px;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .location__card {
    flex: 1 1 30%;
  }
}
